extends layout

block content
  div.row#navHeader
    div.col-md-12 W I N G S
  h3#purpose Quickly figure out when to leave for the airport.
  button.btn.btn-primary(class="hidden", type="button", data-toggle="modal", data-target="#chooseFlightModal") Open modal
  form(method="get", name="form1", id="form1")
    div.row#currentStepContainer
      div.col-md-12
        div.modal.fade#chooseFlightModal(role="dialog")
          div.modal-dialog(role="document")
            div.modal-content
              div.modal-header
                b Multiple flights were found, please choose the correct flight
                button.close(type="button", data-dismiss="modal", aria-label="close")
                  span(aria-hidden="true") &times;
              div.modal-body
                div.row
                  div.col-md-12
                    table.table
                      thead
                        tr
                          th Flight Number
                          th Route
                          th Departure Date/Time
                      tbody#insertFlightChoicesHere
              div.modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close
        div.form-group.nested-group(id="step1")
          div#locationWrapper.col-md-5
            label(for="location") Where are you coming from?
            input.form-control.input-lg(type="text", name="startlocation", id="location", placeholder="1234 Sesame St, Madison, WI 53719", required)
          div#flightWrapper.col-md-2
            label(for="flight") Flight number
            input.form-control.input-lg(type="text", name="flight", id="flight", placeholder="DL2011", autocomplete="off", required)
          div#dateWrapper.col-md-3
            label(for="date") Departure date
            input.form-control.input-lg(type="text", name="departureDate", id="departureDate", required)
          div.inline-button.col-md-2
            button.btn.btn-primary.pull-right(type="submit", id="calculateButton") Calculate
    div.row#showMoreOptions
      div.col-md-12
        a Show more options
    div.row#mobileGettingToAirport
      div.col-md-12.nested-group
        label(for="transportation") How are you getting to the airport?
    div.row#extraDetails
      div.col-md-12
        span.more-options More options: I'm
        select.selectpicker.show-tick(id="modeTravel", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px;padding-top:4px")
          option.custom-select(value="DRIVING") driving
          option.custom-select(value="TRANSIT") taking public transportation
          option.custom-select(value="WALKING") walking
        span.more-options to the airport, I'm checking
        div#mobileBags.nested-group
          label(for="numberOfBags") # of bags
          label(for="tsaPrecheck") TSA-PreCheck
        select.selectpicker.show-tick(id="bags", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px")
          option.custom-select(value="0") 0
          option.custom-select(value="1") 1
          option.custom-select(value="2") 2+
        span.more-options bags and I
        select.selectpicker.show-tick(id="hasTSAPre", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px")
          option.custom-select(value="0") do not have
          option.custom-select(value="1") have
        span.more-options TSA Pre-Check.
    div.row#mobileButton
      div.col-md-12.nested-group
        button.btn.btn-primary(type="button", id="mobileCalculateButton") Calculate
  div.row
    img#loadingRow.hidden(src="/images/rolling.gif", alt="loading image")
  div.row.results
    div.col-md-12#timeToLeaveWrapper
      h3#timeToLeave
  div.row.results
    div.col-md-5#finalResults
      div.row
        div.col-md-12#timeToAirportWrapper(style="display:none")
          span.glyphicon.glyphicon-record
          span#timeToAirport
          div#timeToAirportDetails.results-line
        div.col-md-12#flightInformationWrapper(style="display:none")
          span.glyphicon.glyphicon-record
          span#flightInformation
          div#flightInformationDetails.results-line
        div.col-md-12#arriveAtGateWrapper(style="display:none")
          span.glyphicon.glyphicon-record
          span#arriveAtGate
          div#arriveAtGateDetails.results-noline
        div.col-md-12#errorWrapper
    div.col-md-7#map
      div#map-panel
      div#right-panel
  footer.footer
    div.container
      div.row
        div.col-md-12
          a(href='#') Terms of Use
          | &#8226;
          a(href='#') Privacy Policy

  script(src="/plugins/moment.js", type="text/javascript")
  script(src="/plugins/pikaday.js", type="text/javascript")
  script(src="/scripts/index.js", type="text/javascript")
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN1ohKQ0G8dIHRVTXQcb_1Qy_D64vEXxg&libraries=places&callback=initMap")
