extends layout

block content
  div.row#navHeader
    div.col-md-12 W I N G S
  h3 Quickly figure out when to leave for the airport.
  form(method="get", name="form1", id="form1")
    div.row#currentStepContainer
      div.col-md-12
        div.form-group.nested-group(id="step1")
          div#locationWrapper.col-md-6
            label(for="location") Where are you coming from?
            input.form-control.input-lg(type="text", name="startlocation", id="location", placeholder="1234 Sesame St, Madison, WI 53719")
          div#flightWrapper.col-md-3
            label(for="flight") What's your flight number?
            input.form-control.input-lg(type="text", name="test", id="flight", placeholder="DL2011")
          div.inline-button.col-md-2
            button.btn.btn-primary.pull-right(type="button", id="calculateButton") Calculate
    div.row#mobileGettingToAirport
      div.col-md-12.nested-group
        label(for="transportation") How are you getting to the airport?
    div.row#extraDetails
      div.col-md-12
        span.more-options More options: I'm
        select.selectpicker.show-tick(id="modeTravel", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px;padding-top:4px")
          option.custom-select(value="DRIVING") driving
          option.custom-select(value="TRANSIT") taking public transportation
          option.custom-select(value="WALKING") walking
        span.more-options to the airport, I'm checking
        select.selectpicker.show-tick(id="bags", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px")
          option.custom-select(value="0") 0
          option.custom-select(value="1") 1
          option.custom-select(value="2") 2+
        span.more-options bags and I
        select.selectpicker.show-tick(id="hasTSAPre", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px")
          option.custom-select(value="0") do not have
          option.custom-select(value="1") have
        span.more-options TSA Pre-Check.
    div.row#mobileButton
      div.col-md-12.nested-group
        button.btn.btn-primary(type="button", id="calculateButton") Calculate
    div.row
      img#loadingRow.hidden(src="/images/spinner.png", alt="loading image")
    div.row#results
      div.col-md-12#timeToAirport
  script.
    function initMap(){
      var autocomplete = new google.maps.places.Autocomplete(document.getElementById('location'));
      directionsService = new google.maps.DirectionsService;
    }

    $(document).ready(function() {
      $('#flight').autocomplete({
        source: ["DL2011","DL3000","WN105","AK500"]
      });
      $('#calculateButton').click(function() {
        var address = $('#location').val();
        var flight = $('#flight').val();
        var modeTravel = $('#modeTravel').val();
        var bags = $('#bags').val();
        var TSAPre = $('#hasTSAPre').val();
        var airport = "SFO";
        if(address == ""){
          address = "3145 Manchester Court, Palo Alto, CA"
        }
        console.log(address + " " + flight + " " + modeTravel + " " + bags + " " + TSAPre)
        $('#loadingRow').removeClass('hidden');
        $('#loadingRow').show(200);
        directionsService.route({
          origin: address,
          destination: airport,
          travelMode: modeTravel
        }, function(response, status) {
          if(status == "OK"){
            console.log('success, time incoming: ');
            //console.log(response);
            var time = response.routes[0].legs[0].duration.text;
            console.log(time);
            $('#loadingRow').hide(200, function(){
              $('#timeToAirport').css('color','white').text('It will take approximately '+time+' to get to '+airport+' airport from '+address+'.');
            });
          }
          else console.log('failure, response: '+response);
        });
      });
    });
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEMWXQEwFkceEBkA4gkl9jjeWCpEk-BeI&libraries=places&callback=initMap")
