extends layout

block content
  div.row#navHeader
    div.col-md-12 W I N G S
  h3 Quickly figure out when to leave for the airport.
  form
    div.row#currentStepContainer
      div.col-md-12
        div.form-group.nested-group(id="step1")
          div#locationWrapper.col-md-7
            label(for="location") Where are you coming from? 
            input.form-control.input-lg(type="text", name="startlocation", id="location", placeholder="1234 Sesame St, Madison, WI 53719")
          div#flightWrapper.col-md-3
            label(for="flight") What's your flight number? 
            input.form-control.input-lg(type="text", name="test", id="flight", placeholder="DL2011")
          div.inline-button.col-md-2
            button.btn.btn-primary.pull-right(type="button") Calculate
    div.row#extraDetails
      div.col-md-12 
        span.more-options More options: I'm 
        select.selectpicker.show-tick(id="modeTravel", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px;padding-top:4px")
          option.custom-select(value="d") driving
          option.custom-select(value="pt") taking public transportation
          option.custom-select(value="w") walking
        span.more-options to the airport, I'll be checking 
        select.selectpicker.show-tick(id="bags", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px")
          option.custom-select(value="0") 0
          option.custom-select(value="1") 1
          option.custom-select(value="2") 2+
        span.more-options bags and I 
        select.selectpicker.show-tick(id="hasTSAPre", data-width="fit", data-style="color:white;background-color:transparent;margin-left:5px;margin-right:5px")
          option.custom-select(value="0") do not have
          option.custom-select(value="1") have
        span.more-options TSA Pre-Check.

  script.
    function initMap(){
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('location'));
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEMWXQEwFkceEBkA4gkl9jjeWCpEk-BeI&libraries=places&callback=initMap")