doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/jQuery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/plugins/jquery.backstretch.min.js')
  body
    div.container
      block content
    script.
      $.backstretch('/images/background.jpg');