/*
* General styles
*/

body
  padding: 50px
  font: 14px sans-serif
  -webkit-font-smoothing: antialiased
a
  color: #00B7FF
#mobileButton
  display: none
#mobileBags
  display: none
/*
* Styles for the Wings logo and intro text ("Quickly figure out what time to leave for the airport")
*/

#navHeader div
  text-align: center
  color: white
  font-weight: bold
  font-size: 16px

body > div.container > h3
  color: white
  font-size: 28px
  line-height: 36px
  font-weight: bold
  margin-bottom: 16px
  margin-top: 48px

/*
* Styles for the clickable modal rows if multiple flihghts are found
*/

.clickable-row:hover
  background-color:yellow
  cursor:pointer

/*
* Styles for the time to airport div
*/
#timeToAirport
  color: white

/*
* Styles for the input form ("Where are you coming from?" and "What is your flight number?")
*/

.nested-group input:focus
  box-shadow: none
.nested-group div#locationWrapper
  border-bottom-right-radius: 0
  border-top-right-radius: 0
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  border-right: 1px solid #E5E5E5
.nested-group div#flightWrapper
  border-right: 1px solid #E5E5E5
.nested-group input
  margin-left: -5px
  border: 0 solid white
  border-style: solid
  background-color: white
  box-shadow: inset 0 0 0 0 red
  padding: 0 16px 8px 5px
.nested-group button
  background-color: #0F2332
  color: white
  padding: 21px 24px 21px 24px
  width: auto
  font-weight: bold
.nested-group .inline-button
  display: inline-block
  padding: 8px
  background-color: white
  margin-bottom: 0
  border-left-color: white
  border-left-width: 0
  margin-left: -1px
  height: auto
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px
.nested-group div
  display: inline-block
  background-color: white
  padding: 12px 15px 2px 15px
  color: #191C23 !important
.nested-group label
  display: block
  font-weight: normal
  margin-bottom: 0
div#flightWrapper > input
  text-transform: uppercase
::-webkit-input-placeholder
  color: #C2C5CC
:-moz-placeholder
  color: #C2C5CC
::-moz-placeholder
  color: #C2C5CC
  opacity: 1
:-ms-input-placeholder
  color: #C2C5CC

/*
* Styles for the Google Maps dropdown
*/

.pac-container
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  border-top: none
  border-top-right-radius: 0
  border-top-left-radius: 0
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  width: 569px !important
.pac-item-query
  font-size: 14px
.pac-item
  font-size: 14px
  font-family: sans-serif
  padding: 12px 16px
  line-height: 18px
.pac-item-query:hover
  color: white
.pac-item:hover
  background-color: #0F2332
  color: #8B8F98
.pac-logo::after
  display: none !important
.pac-icon
  display: none !important

/*
* Styles for the extra options (# of people, TSA-precheck, number of checked bags)
*/

#mobileGettingToAirport
  display: none
#extraDetails
  margin-top: 6px
  color: white
.more-options
  color: grey
#extraDetails > div > div > button
  color: white
  background-color: transparent
  padding-top: 4px
  padding-left: 2px
  padding-right: 2px
span.filter-option.pull-left
  font-weight:700
  width: auto !important
  padding-right: 2px
#extraDetails > div > div
  padding-left: 2px
  padding-right: 2px

/*
* Styles for the dropdown of the flight suggestions
*/

.ui-menu .ui-menu-item
  font-size: 14px
#ui-id-1
  width: 300px
  font-size: 14px

/*
* Styles for the loading spinner
*/

img#loadingRow
  display: block
  margin: 48px auto 8px auto

/*
* Media queries
*/

@media (max-width: 992px)
  body
    padding: 16px
  #navHeader div
    font-size: 12px
  body > div.container > h3
    margin: 16px 0
  .nested-group div, .nested-group input
    background-color: transparent
    border: none
    box-shadow: none
    color: white
    padding: 12px 0 4px 0
    border-radius: 0 !important
    ::-webkit-input-placeholder
      color: rgba(255,255,255,.3)
    :-moz-placeholder
      color: rgba(255,255,255,.3)
    ::-moz-placeholder
      color: white
      opacity: .3
    :-ms-input-placeholder
      color: rgba(255,255,255,.3)
  .nested-group input
    padding: 5px !important
  .nested-group label
    color: white
    font-weight: bold
  .col-md-5, .col-md-2, .col-md-3
    width: 100% !important
    display: block
    margin-bottom: 16px
  .col-md-5, .col-md-3, .col-md-2
    border-right: none !important
    border-bottom: 1px solid rgba(255,255,255,.3) !important
  .col-md-3
    border-bottom: 1px solid rgba(255,255,255,.3) !important
  .inline-button
    display: none !important
  #mobileButton
    display: block
    margin-top: 24px
  #mobileButton button
    border: none !important
    width: 100%
  #mobileGettingToAirport
    display: block
  #extraDetails > div
    padding: 0
  #extraDetails > div > span
    display: none
  #extraDetails > div > div:nth-child(2)
    display: block
    padding: 0 13px
  #extraDetails > div > div:nth-child(2) > button
    margin-bottom: 16px
    text-align: left
    font-size: 18px
    border-bottom: 1px solid rgba(255,255,255,.3) !important
    padding-bottom: 13px
  #extraDetails > div > div > button > span.filter-option.pull-left
    font-weight: normal
  .nested-group label
    display: inline
  #mobileBags
    display: block
    margin: 0 15px
  #mobileBags > label:nth-child(1)
    display: inline-block
    margin-right: 5%
    width: 31.5% !important
    padding-right: 15px
  #extraDetails > div > div:nth-child(2) > button
    margin-bottom: 32px
  #extraDetails > div > div:nth-child(5)
    margin-left: 15px
    width: 30% !important
    border-bottom: 1px solid rgba(255,255,255,0.3) !important
    padding-right: 15px
    padding-bottom: 6px
  #extraDetails > div > div:nth-child(5) > button
    font-size: 18px
    text-align: left
    font-weight: normal !important
    margin-top: 5px
  #extraDetails > div > div:nth-child(7)
    margin-left: 4%
    width: 59% !important
    border-bottom: 1px solid rgba(255,255,255,0.3) !important
    overflow-x: hidden
    padding-bottom: 6px
  #extraDetails > div > div:nth-child(7) > button
    font-size: 18px
    text-align: left
    font-weight: normal !important
    margin-top: 5px
