body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#step3 select
  margin: 10px 10px 10px 10px
  width: 150px
#buttonContainer button 
  margin:auto 5px auto 0
  width:120px