body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#step3 select{
  width:150px;
  margin:10px 10px 10px 10px;
}
#buttonContainer button{
  margin:auto 5px auto 0;
}